
services:
  api:
    build:
      context: .
      dockerfile: docker/Dockerfile.api
    ports:
      - "3001:3001"
    environment:
      - DATABASE_URL=postgresql://postgres:postgres@postgres:5432/postgres
    depends_on:
      - postgres
  web:
    build:
      context: .
      dockerfile: docker/Dockerfile.web
    ports:
      - "3000:3000"
    
  worker:
    build:
      context: .
      dockerfile: docker/Dockerfile.worker
    environment:
      - DATABASE_URL=postgresql://postgres:postgres@postgres:5432/postgres
    depends_on:
      - redis

  postgres:
    image: postgres
    environment:
      - POSTGRES_PASSWORD=mypassword
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always

  redis:
      image: redis:latest # Or specify a version like redis:6.2-alpine
      ports:
      - "6379:6379" # Maps host port 6379 to container port 6379
      volumes:
      - redis_data:/data # Persist Redis data
      restart: always # Ensure Redis restarts if it stops

volumes:
  redis_data:
    driver: local
  postgres_data:
    driver: local

