
services:
  api:
    build:
      context: .
      dockerfile: docker/Dockerfile.api
    ports:
      - "3001:3001"
    env_file:
      - .env
    
    depends_on:
      - postgres
  web:
    build:
      context: .
      dockerfile: docker/Dockerfile.web
      args:
            NEXT_PUBLIC_API_URL: http://localhost:3001
    ports:
      - "3000:3000"
    
    
  worker:
    build:
      context: .
      dockerfile: docker/Dockerfile.worker
    env_file:
      - .env   
    depends_on:
      - redis

  postgres:
    image: postgres:16
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: tasksdb
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always

  redis:
      image: redis:latest
      ports:
      - "6379:6379" 
      volumes:
      - redis_data:/data 
      restart: always 

volumes:
  redis_data:
    driver: local
  postgres_data:
    driver: local

