name: Deploy the worker
on:
  push:
    branches: [main]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the code
        uses: actions/checkout@v2

      - name: Docker login
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./docker/Dockerfile.worker
          push: true
          tags: nikhil791/sbl_worker:${{ github.sha }}
      - name: Deploy to the VM
        env:
          SHA_TAG: ${{ github.sha }}
        run: |
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ssh_key
          chmod 600 ssh_key

          ssh -i ssh_key -o StrictHostKeyChecking=no sbl@34.121.236.140 << EOF
            cd /home/sbl/sbl_so

            # Ensure .env exists
            touch .env

            # Write IMAGE_TAG correctly
            sed -i "s/^WORKER_TAG=.*/WORKER_TAG=${GITHUB_SHA}/" .env || echo "WORKER_TAG=${GITHUB_SHA}" >> .env

            docker compose pull
            docker compose up -d
          EOF


